:root {
  --main-color: #d92123;
  --primary-text-color: #ecf0f1;
  --secondary-text-color: #191919;
  --secondary-color: #868686;
  --tertiary-color: #eff3f4;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input[type="submit"] {
  cursor: pointer;
}

i {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-size: 2.5rem;
  padding: 2rem;
}

#header {
  min-height: 90vh;
  background-image: url("../img/main_banner4.png");
  background-size: cover; /*para cobrir toda a imagem, sem se repetir*/
  background-position: center;

  color: var(--primary-text-color);
  margin-bottom: 2rem;
  position: relative; /*vou usar elementos absolute, o relativo é a area onde controlamos o absoluto*/
}

#inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /*deixa todo mundo alinhado no centro igualmente*/
}

#brand {
  background-color: var(--main-color);
  padding: 1rem;
}

#navbar {
  display: flex;
  margin-right: 2rem;
  gap: 4rem;
}

#navbar a {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: bold;
}

.banner.active {
  opacity: 1;
}

.banner{
  max-width: 50%; /*para nao ficar com metade da tela ocupada*/
  
  position: absolute;
  padding: 4rem;
  opacity: 0;
  
  /*transition: 0.8s; banner vai aparecer e desaparecer*/
}

.banner h2 {
  font-size: 4rem;
  margin-bottom: 1.2rem;

  position: relative; /*para o z-index funcionar*/
  z-index: 2;
}

.banner p {
  font-size: 1.5rem;
  line-height: 1.5;

}

.square{
  width: 150px;
  height: 150px;
  background-color: var(--main-color);
  position: absolute;


  display: block;
  z-index: 1;
  left: 20px;
  top: 40px;
  
}

.dots {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
}

.dot.active {
  background-color: var(--main-color);
}

/*Areas de atuação "main" */

.text-image-section {
  display: flex;
  flex-wrap: wrap; /*se a largura exceder do limite da tela,  ele vai quebrar a linha*/
  gap: 2rem;
}

.text-container{
  flex: 2 1 0;
  display: flex;
  gap: 2rem;
  
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.section-subtitle{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-color);
}

.section-title{
  color: var(--secondary-text-color);
  font-size: 2rem;
}

.btn{
  padding: 1.2rem 2rem;
  background-color: var(--main-color);
  align-self: flex-end;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;

  border-radius: 6px;

  color: var(--primary-text-color);
}

.image-container {
  flex: 1 1 300px;
  position: relative;
}

.image-container i {
  position: absolute;
}

.other-services{
  display: flex;
  gap: 2.5rem;
  padding: 2.5rem;
  width: 100%;
  
}

.service {
  position: relative;
}
.service i {
  position: absolute;
  top: 0;
  left: 0;

  padding: 1rem;
  font-size: 1.5rem;
  
}

.service-info {
  background-color: var(--tertiary-color);
  padding: 2rem 1.4rem;
  min-height: 250px;
  margin-top: -3rem;

  z-index: 2;
  position: relative;
}

.service h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/*About*/

#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 2rem;
}

.about-text{
  background-image: url("../img/pattern.png");
  background-size: cover;
  background-position: center;

  color: var(--primary-text-color);
  flex: 1 1 0;
  gap: 2rem;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 4rem 3rem;
}

.about-text .section-subtitle,
.about-text .section-title {
  color: var(--primary-text-color);
}

.about-text i {
  background-color: transparent;
}

.about-description {
  display: flex;
  align-items: center;
}

.about-description h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about-data{
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;

  padding: 2rem;
}

.about-data .data{
 
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 0.25rem;

  width: calc(50% - 2rem);
}

.about-data .data:first-child{
  border-bottom: 10px solid var(--secondary-color);
  border-right: 10px solid var(--secondary-color);
}

.about-data .data:last-child{
  border-top: 10px solid var(--secondary-color);
  border-left: 10px solid var(--secondary-color);
}

.about-data .data i {
  background-color: transparent;
  color: var(--main-color);
  font-size: 4rem;
  
  padding: 0
}

.data .number {
  font-size: 4rem;
  font-weight: 700;
}

.data .text {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: bold;

}

/*depoimentos*/

#testimonials {
 display: flex;
 align-items: center; 
}

#testimonial-information {
  padding: 3rem;
}

.author {
  display: flex;
  justify-content: end;
  align-items: center;

  gap: 1rem;
}

.author .author-name {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.author .author-job{
  color: var(--secondary-text-color);
}

.author img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/*Colaboradores*/

#team{
  position: relative;
  margin-bottom: 2rem;
}

#team h2{
  font-size: 3rem;
  text-align: center;
  max-width: 1000px;
  
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

#team h2 span {
  color: var(--main-color);
}
#team .square {
  background-color: var(--tertiary-color);
  width: 100px;
  height: 100px;

  left: 50%;
  margin-left: -50px;
  top: -25px;
 
}

.employees{
  display: flex;
  gap: 2rem;
  padding: 2rem;

  text-align: center;
}

.employee-name{
color: var(--main-color);
text-transform: uppercase;
font-size: 1.2rem;

margin: 0.5rem 0;

}